# default configuration

# Allow to define the number of "New Content" buttons when an editing zone as content restrictions activated
createChildrenDirectButtons.limit = 5

# forceDateFormat overrides the browser locale format of date in content editor
# Possible values are: DD/MM/YYYY, MM/DD/YYYY
#forceDateFormat=DD/MM/YYYY
