.header {
    height: 120px;
    padding: var(--spacing-large);
}

.headerActions {
    gap: var(--spacing-medium);
    margin-top: var(--spacing-medium);
}

.footer {
    height: 64px;
    padding: var(--spacing-medium);

    border-top: solid 1px var(--color-gray40);
}

.searchInput {
    width: 400px;
}

.body {
    padding: var(--spacing-large);
}

.caption {
    color: var(--color-gray60);
}

.actions {
    gap: var(--spacing-medium);
}
