.root {
    flex: 1 1 0;
    width: 100%;
    min-height: 0;

    background-color: var(--color-gray_light);
}

.content {
    flex: 1 1 0;
    min-height: 0;
    padding-top: var(--spacing-small);

    background-color: var(--color-light);
}
