JAHIA_VERSION=${JAHIA_VERSION:-LATEST}
JAHIA_IMAGE=${JAHIA_IMAGE:-jahia/jahia-ee-dev:8-SNAPSHOT}
TESTS_IMAGE=${TESTS_IMAGE:-jahia/content-editor:latest}
MODULE_ID=${MODULE_ID:-content-editor}
MANIFEST=${MANIFEST:-provisioning-manifest-snapshot.yml}
JAHIA_URL=${JAHIA_URL:-http://localhost:8080}
JAHIA_USERNAME=${JAHIA_USERNAME:-root}
JAHIA_PASSWORD=${JAHIA_PASSWORD:-root1234}
SUPER_USER_PASSWORD=${SUPER_USER_PASSWORD:-root1234}
NEXUS_USERNAME=${NEXUS_USERNAME:-NEXUS_USERNAME}
NEXUS_PASSWORD=${NEXUS_PASSWORD:-NEXUS_PASSWORD}
JAHIA_CLUSTER_ENABLED=${JAHIA_CLUSTER_ENABLED:-true}
TIMEZONE=${TIMEZONE:-America/Toronto}
JAHIA_LICENSE=${JAHIA_LICENSE:-""}
JAHIA_PROPERTIES=" elasticsearch.prefix:\"cypress-ci-env\" "
