.dropable {
  padding: 8px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.referenceDropGhostHidden {
  transition: all 0.3s ease;
  height: 0;
  background-color: #E0E6EA; /*TODO use moonstone color*/
  width: 100%;
}
.referenceDropGhost {
  height: 72px;
  margin: 8px 0;
}
