.valueList {
    flex-grow: 1;
    max-height: 300px;
    overflow-y: scroll;
}

.caption {
    margin-top: var(--spacing-medium);
}

.displayNone {
    display: none;
}

.valueListItem {
    padding: var(--spacing-small);

    cursor: pointer;

    &.selected {
        color: var(--color-white);

        background-color: var(--color-accent);
    }

    &:hover {
        color: var(--color-accent);

        background-color: var(--color-gray_light60);
    }

    &:hover > div > .displayNone {
        display: block;
    }
}
