.header {
    display: flex;
    margin: var(--spacing-small) auto;

    .headerLeft {
        display: flex;
        flex-grow: 1;
        align-items: center;

        & > * {
            margin-right: var(--spacing-small);
        }

        .headerTypography {
            flex-grow: 1;
            width: 250px;
        }
    }

    .headerRight {
        display: flex;
        justify-content: center;
        align-items: center;

        & .warningBadge {
            position: absolute;
            top: 0.7em;
            right: 242px;

            color: #e8b606;

            border-radius: 50%;

            background-color: var(--color-white);
        }

        & > .warningBadge:last-child {
            right: 92px;
        }
    }

    .headerChips {
        & > * {
            margin-left: var(--spacing-small);
        }
    }
}

.mainActions {
    margin-left: var(--spacing-small);
}

.menu {
    height: 38px;
}
