// CKeditor nuclear bomb override
:global(.cke_dialog_background_cover) {
    z-index: 1300 !important;

    background-color: rgba(0, 0, 0, 0.5) !important;
}

:global(.cke_dialog_container) {
    z-index: 1300 !important;
}

:global(.cke_inner.cke_reset.cke_maximized) {
    width: calc(100vw + 1px - 1px) !important;
}
