.fieldsetContainer {

}

.fieldsetTitleContainer {
  color: var(--color-gray_dark);
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 var(--spacing-large) 0 0;
  padding: 0 0 var(--spacing-small);
}

.toggle.toggle {
  height: var(--spacing-big);
}

.labelContainer {
  display: flex;
  flex-flow: column wrap
}

.fieldSetTitle {
  width: auto;
  text-transform: uppercase;
}

.staticFieldSetTitle {
}

.staticFieldSetDescription {
  margin-top: var(--spacing-small);
}
