.warningBadge {
    position: absolute;
    top: -0.5em;
    left: -0.125em;

    color: #e8b606;

    border-radius: 50%;

    background-color: var(--color-white);
}

.pastilleWrapper {
    position: relative;
}
