.header {
    display: flex;
    margin: var(--spacing-small) auto;

    .headerLeft {
        display: flex;
        flex-grow: 1;
        align-items: center;

        & > * {
            margin-right: var(--spacing-small);
        }

        .headerTypography {
            flex-grow: 1;
            width: 250px;
        }
    }

    .headerRight {
        display: flex;
        justify-content: center;
        align-items: center;

        & > button:first-of-type {
            margin-right: var(--spacing-small);
        }

        & > button:nth-of-type(2) {
            border-radius: 4px 0 0 4px;
        }

        // Button more actions
        & > div > :first-child {
            height: 30px;
            margin-left: 1px;

            border-radius: 0 4px 4px 0;
        }

        & .warningBadge {
            position: absolute;
            top: 0.7em;
            right: 242px;

            color: #e8b606;

            border-radius: 50%;

            background-color: var(--color-white);
        }

        & > .warningBadge:last-child {
            right: 92px;
        }
    }

    .headerChips {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.headerToolBar {
    display: flex;

    & div {
        padding: 0;
    }
}
