.hideTab {
    display: none !important;
}

.tab {
    flex: 1;
}

.dialogTitle.dialogTitle {
    margin: var(--spacing-small);
}

.dialogActions.dialogActions {
    margin: 0;
    padding: 16px;

    border-top: 1px solid var(--color-gray_light);
}

.checkbox {
    margin: 0 var(--spacing-nano);
}

.languageSwitcher {
    margin: var(--spacing-small) 0;
}

.languageSwitcher {
    margin: var(--spacing-small) 0;
}

.saveButtons {
    margin: 0 var(--spacing-small);
}

.saveActions {
    position: relative;
}

.uppercase {
    text-transform: uppercase;
}
