
.validationWarningBox {
    margin: var(--spacing-small);
    padding: var(--spacing-medium);

    color: var(--color-gray_dark);

    border: 1px solid var(--color-warning);
    border-radius: 2px;
    background-color: var(--color-warning40);
}

.field {
    &::after {
        content: ', ';
    }

    &:nth-last-child(1)::after {
        content: '';
    }
}

.fieldLink {
    color: inherit;
}
