.dropdown {
  margin-bottom: var(--spacing-nano);
  color: var(--color-light);
}

.drawerPaper {
  width: 15vw;
  background-color: var(--color-gray_dark) !important;
}

.listItem {
  color: var(--color-light) !important;;
}
