.fieldsetTitleContainer {
    display: flex;
    flex-flow: column wrap;
    margin: 0 var(--spacing-large) 0 0;
    padding: 0 0 var(--spacing-small);

    color: var(--color-gray_dark);
}

.toggle.toggle {
    height: var(--spacing-big);
}

.fieldSetTitle {
    width: auto;

    text-transform: uppercase;
}

.staticFieldSetDescription {
    margin-top: var(--spacing-small);
}
