  # INTEGRATION TESTS NOT WORKING

# This workflows can be triggered manually via the GitHub actions UI
# It is used to trigger an integration tests run using snapshot artifacts
name: Manual Tests Run

on:
  workflow_dispatch:
    inputs:
      jahia_image:
        description: 'Jahia Image'
        required: true
        default: 'jahia/jahia-ee-dev:8-SNAPSHOT'
      manifest:
        description: 'Provisioning manifest. Can be a local repository file in the tests folder or a publicly accessible link'
        required: true
        default: 'provisioning-manifest-snapshot.yml'


jobs:
  integration-tests:
    name: Int. Tests ${{ matrix.config_file }}
    strategy:
      fail-fast: false
      matrix:
        config_file:
          - cypress.config-others.ts
          - cypress.config-pickers.ts
    secrets: inherit
    uses: Jahia/jahia-modules-action/.github/workflows/reusable-integration-tests.yml@v2
    with:
      module_id: content-editor
      jahia_image: ${{ github.event.inputs.jahia_image }}
      tests_profile: ${{ matrix.config_file }}
      provisioning_manifest: ${{ github.event.inputs.manifest }}
      artifact_prefix: ce-nightly-${{ matrix.config_file }}
      testrail_project: Content Editor
      jahia_cluster_enabled: true
      timeout_job: 65
      timeout_step: 50