name: Weekly Test run

on:
  workflow_dispatch:
  schedule:
    - cron:  '0 0 * * 0'

jobs:
  integration-tests:
    name: Int. Tests ${{ matrix.config_file }}
    strategy:
      fail-fast: false
      matrix:
        jahia_image: ["jahia/jahia-ee-dev:8.1-SNAPSHOT"]
        config_file:
          - cypress.config-others.ts
          - cypress.config-pickers.ts
    secrets: inherit
    uses: Jahia/jahia-modules-action/.github/workflows/reusable-integration-tests.yml@v2
    with:
      module_id: content-editor
      jahia_image: ${{ matrix.jahia_image }}
      tests_profile: ${{ matrix.config_file }}
      provisioning_manifest: provisioning-manifest-build.yml
      artifact_prefix: ce-nightly-${{ matrix.config_file }}
      testrail_project: Content Editor
      jahia_cluster_enabled: true
      timeout_job: 65
      timeout_step: 50